/* desktop screen */
.item1 { 
  grid-area: one; 
  background-color: royalblue;
}
.item2 { 
  grid-area: two; 
  background-color: crimson;
}
.item3 { 
  grid-area: three;
  background-color: peru; 
}
.item4 { 
  grid-area: four; 
  background-color: indianred;
}
.item5 { 
  grid-area: five; 
  background-color: purple;
}
.item6 { 
  grid-area: six; 
  background-color: palegreen;
}
.item7 { 
  grid-area: seven; 
  background-color: teal;
}
.item8 { 
  grid-area: eight; 
  background-color: mediumslateblue;
}
.item9 { 
  grid-area: nine; 
  background-color: darkslategrey;
}

.grid-container {
  color: white;
  display: grid;
  grid-template-areas:
    'one one two two two two'
    'one one three three four four'
    'five seven seven seven seven eight'
    'six seven seven seven seven nine';
  gap: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* mobile screen */
.item-small1 { 
  grid-area: one; 
  background-color: royalblue;
}
.item-small2 { 
  grid-area: two; 
  background-color: crimson;
}
.item-small3 { 
  grid-area: three;
  background-color: peru; 
}
.item-small4 { 
  grid-area: four; 
  background-color: indianred;
}
.item-small5 { 
  grid-area: five; 
  background-color: purple;
}
.item-small6 { 
  grid-area: six; 
  background-color: palegreen;
}
.item-small7 { 
  grid-area: seven; 
  background-color: teal;
}
.item-small8 { 
  grid-area: eight; 
  background-color: mediumslateblue;
}
.item-small9 { 
  grid-area: nine; 
  background-color: darkslategrey;
}

.grid-container-small {
  color: white;
  display: grid;
  grid-template-areas:
    'one one'
    'three four'
    'two two'
    'seven seven'
    'five eight'
    'six nine';
  gap: 10px;
  background-color: whitesmoke;
  padding: 10px;
}

.grid-container-small > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}